
        body {
            font-family: 'Inter', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .invoice-wrap {
            padding: 20px;
        }
        .invoice-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20px;
            border-bottom: 1px solid #ddd;
        }
        .invoice-logo img {
            max-width: 150px;
        }
        .invoice-header-contact {
            text-align: right;
        }
        .invoice-content-wrap {
            margin-top: 20px;
        }
        .invoice-to-content, .invoice-pay-content {
            margin-bottom: 20px;
        }
        .invo-to, .invo-to-owner, .invo-owner-address {
            margin: 0;
        }
        .invoice-owner-conte-wrap {
            margin-bottom: 20px;
        }
        .invo-book-detail {
            margin-bottom: 10px;
        }
        .table-info {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 18px;
            text-align: left;
        }

        .table-info th, .table-info td {
            border: 1px solid #dddddd;
            padding: 8px;
        }

        .table-info th {
            background-color: #f2f2f2;
        }

